<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127393425197-mhb04q47db57m5lnr02s8juil79uavpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127393425197-mhb04q47db57m5lnr02s8juil79uavpk</string>
	<key>API_KEY</key>
	<string>AIzaSyCkR5PYlNFUXgOztcMUkdh4GiAhnoVl14U</string>
	<key>GCM_SENDER_ID</key>
	<string>127393425197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gjsld1.HowlTalk</string>
	<key>PROJECT_ID</key>
	<string>howltalk-e36cb</string>
	<key>STORAGE_BUCKET</key>
	<string>howltalk-e36cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127393425197:ios:c72453fb6f0516f99795a4</string>
	<key>DATABASE_URL</key>
	<string>https://howltalk-e36cb.firebaseio.com</string>
</dict>
</plist>